@import url('https://fonts.googleapis.com/css2?family=Festive&family=Lato:ital,wght@1,300&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(imgp.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    
}

.headings{
    text-transform: uppercase;
    text-align: center;
}

h2{
    margin: 5%;
}

img{
    height: 15vh;
    width: 100%;
    padding: 2%;
}

p{
    text-align: center;
    font-weight: bold;
    margin: 2%;
    padding: 10%;
}

.backgroundcolor{
    background-color: rgb(162, 164, 168, .5);
    opacity: 0.9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

input{
    width: 70%;
    height: 5vh;
    border: none;
    border-bottom: solid black;
    background: transparent;
    margin: 4%;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

::placeholder {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: top;
}

.button{
    border: black solid 1px;
    height: 5vh;
    text-transform: uppercase;
    font-weight: bold;
}

@media(min-width:426px){
    body{
        background-image: url(imgt.png);
    }

    img{
        height: 15vh;
        width: 60%;
        margin: 2%;
    }

    .backgroundcolor{
        height: 70vh;
        /* padding: 5%; */
        justify-content: flex-start;
    }

    .headings{
        text-align: left;
        margin: 0;
    }

    h2{
        margin: 0;
        margin-bottom: 2%;
        letter-spacing: 0.3em;
    }

    p{
        text-align: left;
        margin: 0;
        padding: 0;
    }

    form{
        justify-content: flex-start;
    }

    input{
        margin-left: 0;
    }

    .name{
        width: 38%;
    }

    .email{
        width: 80%;
    }

    .button{
        width: 38%;
    }
}

